@media(max-width: 880px) {

    /* ------------------------------------------------ header ----------------------------------------*/
    footer {
        height: 220px;
    }

    header::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://i0.wp.com/aldescubierto.org/wp-content/uploads/2021/07/Portada_RickyMorty_web.jpg?resize=800%2C445&ssl=1");
        opacity: 0.5;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .conteiner-1 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 220px; */
    }

    .img-1,
    .img-2 {
        height: 0;
        width: 0;

    }

    a {
        text-decoration: none;
        color: rgb(221, 236, 225);
        font-weight: 900;
        position: relative;
        opacity: 1;
    }

    a::after {
        content: "";
        background-color: rgb(165, 5, 5);
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 4px;
        opacity: 0;
    }

    a:hover:after {
        opacity: 0.8;
    }

    ul {
        list-style: none;
        flex-direction: column;
        justify-content: right;
        align-items: center;
        padding: 20px;


    }

    li {
        padding: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
    }

    /* ------------------------------------------------------ main -----------------------------------------------------*/


    .img-3 {
        height: 230px;
        border: 3px solid black;
        border-radius: 5%;
        margin: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }


    /* --------------------------------------------------------- footer ----------------------------------------------------- */

    footer {
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

    }

    .conteiner-footer {
        display: flex;
        justify-content: left;
        align-items: center;
    }



    .conteiner-footer a {
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px;
        text-align: center;
        font-size: 10px;
    }

    footer h4 {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 10px;

    }

    .facebook {
        width: 26px;
        height: 26px;
        margin-left: 14px;
    }

    .instagram {
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }

    .linkedin {
        width: 50px;
        height: 50px;
        margin-left: 3px;
    }

    .gmail {
        width: 50px;
        height: 50px;
        margin-left: 3px;
    }








}

@media(max-width: 480px) {

    /* ---------------------------------------------------------- main ----------------------------------------------------------*/
    /* seccion 1 */
    .titulo-1 {
        font-family: 'Acme', sans-serif;
        font-size: 30px;
        padding: 10px;
        margin: 20px;
    }

    .titulo-parrafo {
        gap: 20px;

    }

    .parrafo-1 {
        font-family: 'Babylonica', cursive;
        font-size: 15px;
    }

    .img-3 {
        height: 150px;
        border: 3px solid black;
        border-radius: 5%;
        margin: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .titulo-2 {

        font-size: 45px;
    }

    /* seccion mejores capitulos */

    .div-4 {
        background-color: rgb(240, 248, 255, 0.5);
        margin: 25px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        font-size: 40px;
        font-family: 'Acme', sans-serif;
    }

    .name-1 {
        font-size: 20px;
    }

    .parrafo-1 {
        font-size: 15px;
    }

    .div-padding{
        padding-bottom: 200px;
    }

    /* ----------------------------------------------------------- footer ----------------------------------------------------- */
    footer {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .conteiner-footer {

        display: block;
        justify-content: center;
        align-items: center;

    }

    .conteiner-footer div {
        display: block;
        justify-content: baseline;
        align-items: center;
        text-align: center;
    }


    .conteiner-footer a {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 10px;
        text-align: center;
        justify-content: center;
    }

    footer h4 {
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 10px;

    }

    .facebook {
        width: 16px;
        height: 16px;
        margin-left: 5px;
    }

    .instagram {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }

    .linkedin {
        width: 40px;
        height: 40px;
        margin-left: 5px;
    }

    .gmail {
        width: 40px;
        height: 40px;
        margin-left: 5px;
    }
}