* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;


}

/* -------------------------------------------------- header -------------------------------------- */

header {
    background-color: aquamarine;
}


.conteiner-1 {

    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;


}

.img-1 {
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 250px;
    padding: 20px;
}

nav {
    padding-left: 300px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;

}

li {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

/* ----------------------------------------------- main ------------------------------------------------ */

main {
    background-image: url(../img/espacio-rickandmorty.jpg);
}

/* *titulo imagen* */

.titulo-1 {
    color: rgb(10, 6, 6);
}

.div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *primera seccion: sinopsis* */

.div-2 {
    background-color: rgb(240, 248, 255, 0.5);
    text-align: center;
    font-size: 20px;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 25px;
    
}

.titulo-1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    padding: 10px;
    margin: 20px;
}
.titulo-parrafo{
    gap: 20px;

}
.parrafo-1 {
    font-family: 'Babylonica', cursive;
    font-size: 25px;
}

.img-3 {
    height: 350px;
    border-radius: 5%;
    margin: 20px;
}

/* *segunda seccion: caracteristicas* */

.titulo-2{
background-color: rgb(240, 248, 255, 0.5);
margin: 25px;
padding: 20px;
border-radius: 10px;
text-align: center;
font-size: 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.seccion-1 {
    background-color: rgb(245, 222, 179, 0.5);
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;

}

#conteiner {
    width: 220px;
    background-color: rgb(255, 228, 196);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.img-4 {
    height: auto;
    width: auto;
    max-height: 180px;
    max-width: 180px;
    padding: 20px;
    border-radius: 50%;
}

/* *cuarta seccion: majores capitulos* */


/* ----------------------------------------------- footer ----------------------------------------------------- */

footer {
    background-color: cadetblue;
    position: absolute;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;

}