* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;


}

/* -------------------------------------------------- header -------------------------------------- */

header {
    /* background-image: url("https://www.xtrafondos.com/wallpapers/rick-y-morty-retrowave-synthwave-6602.jpg"); */
    background-color: black;
    /* background-position:top;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}
.open-menu,
.close-menu {

    display: none;
}

.conteiner-1 {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icono-burger{
    width: 50px;
    height: 50px;
    background-color: black;
    margin: 0;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(248, 238, 238);
    position: relative;
}

a::after {
    content: "";
    background-color: darkred;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
    opacity: 0;
}

a:hover:after {
    opacity: 0.8;
}

.img-1 {
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 250px;
    padding: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;

}

li {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 250px;
}

/* ----------------------------------------------- main ------------------------------------------------ */

main {
    background-image: url(../img/espacio-rickandmorty.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

/* *titulo imagen* */

.titulo-1 {
    color: rgb(10, 6, 6);
}

.div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 270px;
}

.img-2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* *primera seccion: sinopsis* */

.div-2 {
    background-color: rgb(240, 248, 255, 0.5);
    text-align: center;
    font-size: 20px;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 25px;

}

.titulo-1 {
    font-family: 'Acme', sans-serif;
    font-size: 60px;
    padding: 10px;
    margin: 20px;
}

.titulo-parrafo {
    gap: 20px;

}

.parrafo-1 {
    font-family: 'Babylonica', cursive;
    font-size: 25px;
}

.img-3 {
    height: 350px;
    border: 3px solid black;
    border-radius: 5%;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* *segunda seccion: caracteristicas* */

.titulo-2 {
    background-color: rgb(240, 248, 255, 0.5);
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'Acme', sans-serif;
}


#div-conteinerApi {
    background-color: rgb(245, 222, 179, 0.5);
    width: 220px;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;

}

.conteiner-2 {
    width: 220px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;

}

.img-4 {
    height: auto;
    width: auto;
    max-height: 180px;
    max-width: 180px;
    padding: 20px;
    border-radius: 50%;
}

/* *cuarta seccion: majores capitulos* */

.div-4 {
    background-color: rgb(240, 248, 255, 0.5);
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    font-family: 'Acme', sans-serif;
}

.div-capitulo-1 {
    background-color: rgba(112, 183, 245, 0.5);
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    gap: 30px;
}

.div-capitulo-2 {
    background-color: rgba(112, 183, 245, 0.5);
    margin: 25px 25px 0px 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-pagina {
    gap: 30px;
    padding: 20px 20px 20px 30px;
}

.name-1 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.temporada {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sintesis {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.img-5 {
    height: 200px;
    width: 180px;
    border-radius: 10%;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}

#boton-1 {
    background-color: burlywood;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* ----------------------------------------------- footer ----------------------------------------------------- */

footer {
    background-image: url(../img/fondo\ footer.jpg);
    position: absolute;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h4 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}