* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;


}

/* -------------------------------------------------- header -------------------------------------- */

header {
    background-color: aquamarine;
}


.conteiner-1 {

    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;


}

.img-1 {
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 250px;
    padding: 20px;
}

nav {
    padding-left: 300px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;

}

li {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

/* ----------------------------------------------- main ------------------------------------------------ */

main {
    background-image: url(../img/espacio-rickandmorty.jpg);
}

/* *titulo imagen* */

.titulo-1 {
    color: rgb(10, 6, 6);
}

.div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* *primera seccion: sinopsis* */

.div-2 {
    background-color: rgb(240, 248, 255, 0.5);
    text-align: center;
    font-size: 20px;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 25px;

}

.titulo-1 {
    font-family: 'Acme', sans-serif;
    font-size: 60px;
    padding: 10px;
    margin: 20px;
}

.titulo-parrafo {
    gap: 20px;

}

.parrafo-1 {
    font-family: 'Babylonica', cursive;
    font-size: 25px;
}

.img-3 {
    height: 350px;
    border: 3px solid black;
    border-radius: 5%;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* *segunda seccion: caracteristicas* */

.seccion-2{
    display: flex;
   
    justify-content: center;
    align-items: center;
  
    gap: 20px;
}

.titulo-2 {
    background-color: rgb(240, 248, 255, 0.5);
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'Acme', sans-serif;


}

#div-conteinerApi {
    background-color: rgb(245, 222, 179, 0.5);
    width: 220px;
   
    gap: 20px;
    
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
flex-wrap: wrap;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;

}

.conteiner-2 {
    width: 220px;

    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.img-4 {
    height: auto;
    width: auto;
    max-height: 180px;
    max-width: 180px;
    padding: 20px;
    border-radius: 50%;
}

/* *cuarta seccion: majores capitulos* */

.div-4 {
    background-color: rgb(240, 248, 255, 0.5);
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    font-family: 'Acme', sans-serif;
}

/* ----------------------------------------------- footer ----------------------------------------------------- */

footer {
    background-color: cadetblue;
    position: absolute;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;

}